services:

  mysql:
    container_name: mysql
    image: mysql:5.7
    ports:
      - "3006:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: devops
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
    volumes:
     - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "--password=root"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s 
    networks:
      - twotier
  
  adminer:
    container_name: adminer
    image: adminer:latest
    ports:
      - "8085:8080"
    depends_on:
      mysql:
       condition: service_healthy
    networks:
      - twotier
    
  flaskapp:
    container_name: flaskapp
    build: .
    environment:
      MYSQL_HOST: mysql
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
      MYSQL_DB: devops
    ports:
     - "5000:5000"
    depends_on:
      mysql:
       condition: service_healthy
    networks:
      - twotier
    
volumes:
  mysql_data:
networks:
  twotier:

    